.container{
    margin: auto;
    width: 500px;
    max-width: 90%;
    position: center;
}
.h1{
    text-align: center;

}
.submit-btn{
    width: 20%;
    padding: 10px 30px;
    position: center;
    cursor: pointer;
    display: block;
    margin: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(179, 210, 245);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
    border-right: 1px lightslategray;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: rgb(0, 124, 128);
  }